<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <main class="main" id="top">
      <%- include('./partials/header.ejs') %>
      <body>
        <!-- Main Content -->
        <main class="main" id="top">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="mb-5"> <img src="/img_copy/icons/logo.png" alt="" width="40" /> Lista de Autos</h1>
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Marca</th>
                      <th>Modelo</th>
                      <th>Año</th>
                      <th>Foto</th>
                      <th>Full</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% autos.forEach((auto) => { %>
                      <tr>
                        <td><%= auto.id %></td>
                        <td><%= auto.marca %></td>
                        <td><%= auto.modelo %></td>
                        <td><%= auto.anio %></td>
                        <td>
                          <img src="/autos/<%= auto.id %>/image" alt="Auto" style="width: 100px; height: 100px; object-fit: cover;" />
                        </td>
                        <td>
                          <p>Dueño: <%= auto.propietario_nombre %></p>
                          <button class="button btn-danger" onclick="window.location.href='/autos/<%= auto.id %>/image'" style="font-size: 0.8rem; padding: 4px 8px; margin-left: auto;">Ver imagen completa</button>
                        </td>
                      </tr>
                    <% }); %>
                    
                 
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
        </main>
        <%- include('./partials/scripts.ejs') %>

      </body>
    </html>
    