<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <style>
    .content-container {
        display: flex;
        flex-direction: column;
    }
    </style>
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    <header>
        <%- include('./partials/header_dash.ejs') %>
    </header>

    <main class="main" id="top">
        <%- include('./partials/navbar_lateral.ejs') %>
        <div id="content-container" class="content-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1 class="mb-0"><%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>
                        <br>
                        <hr class="m-0" />
                    </div>
                </div>

          <!-- Tus Automóviles-->
  <section class="resume-section" id="tusAutomoviles">
    <div class="container">
        <h1>Tus automóviles</h1>
        <div class="row">
            <% for(let i = 0; i < autos.length; i++) { %>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="/autos/<%= autos[i].id %>/image" class="card-img-top" alt="...">
                        <!-- Button to open the modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-<%= autos[i].id %>">
                            Ver imagen completa
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modal-<%= autos[i].id %>" tabindex="-1" aria-labelledby="modalLabel-<%= autos[i].id %>" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel-<%= autos[i].id %>"><%= autos[i].marca %> <%= autos[i].modelo %> <%= autos[i].anio %></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="/autos/<%= autos[i].id %>/image" class="img-fluid" alt="...">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Card Body -->
                        <div class="card-body">
                            <h5 class="card-title"> Datos </h5>
                            <p class="card-text"><strong>ID:</strong> <%= autos[i].id %></p>
                            <p class="card-text"><strong>Marca:</strong> <%= autos[i].marca %></p>
                            <p class="card-text"><strong>Modelo:</strong> <%= autos[i].modelo %></p>
                            <p class="card-text"><strong>Año:</strong> <%= autos[i].anio %></p>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</section>

                <!-- Agregar Auto-->
                <div class="row">
                    <div class="col-12">
                        <%- include('./partials/agregar.ejs') %>
                        <hr class="m-0" />
                    </div>
                </div>

                <!--Editar-->
                <div class="row">
                    <div class="col-12">
                        <%- include('./partials/editar.ejs') %>
                        <hr class="m-0" />
                    </div>
                </div>

                <!-- Eliminar Auto-->
                <div class="row">
                    <div class="col-12">
                        <%- include('./partials/eliminar.ejs') %>
                        <hr class="m-0" />
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Scripts -->
    <%- include('./partials/scripts.ejs') %>
</body>

</html>
  